@media (max-width: 1100px) 
{ 

#logo
{
	height: 55px;
	cursor: pointer;
}
header>div
{
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
header>div>div>div
{
	font-size: 12px; 
}
#allContainer
{
	width: 100%;
}
#categoriesContainer
{
	margin-top: 0px;
}

.item
{
	width: 46%;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 10px;
}
