@media (max-width: 1100px) 
{ 


.commancer
{
	font-size: 15px;
}

header>div
{
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
#notreConcept,#nosAvantages
{
  display: none;
}
#imageContainer
{
  height: 400px;
}
#dataOverImageContainer h1
{
  font-size: 2em;
}
#dataOverImageContainer h2
{
  font-size: 1.2em;
}

#commentCamarcheContainer h1,#lesAvantagesContainer h1,
{
  font-size: 1.5em;
}
#commentCamarcheContainer div,#lesAvantagesContainer div
{
  font-size: 0.8em;
}
}