{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link href="{% static 'logo.png' %}" rel="icon">
	<link href="{% static 'styleCommande.css' %}" rel="stylesheet">
	<link href="{% static 'styleCommande_smallerThan_1100.css' %}" rel="stylesheet">
</head>
<body>
	<header>
		<div class="d-flex justify-content-between mx-auto">
			<div id="" class="d-flex">
				<img id="logo" src="{% static 'logoGreen.png' %}">
				<div  class=" m-1 align-self-center" style="font-size: 0.75em">LIVRAISON À DOMICILE ( ORAN ).</div>
				<div  class=" m-1 align-self-center"style="font-size: 0.75em">SERVICE CLIENTS : 0667734324</div>
			</div>
			<div class="d-flex">
				<button id="showPanier" type="button" class="btn btn-info text-white m-1 align-self-center">Panier - <strong id="panierSize">0</strong></button>
			</div>
		</div>
	</header>
	<section id="allContainer" class="mx-auto">

		<div id="categoriesContainer" class="d-flex text-center">
			<div class="buttonClass w-50 categorySelected">Légume</div>
			<div class="buttonClass w-50">Fruit</div>
		</div>
		
		<div id="spinnerContainer" class="d-flex justify-content-center m-5">
			<div id="spinner" class="spinner-border text-success" style="width: 3rem; height: 3rem;" role="status">
			</div>
		</div>

		<div id="errorContainer" class="d-flex justify-content-center mt-5  d-none">
			<img src="{% static 'error.png' %}">
		</div>

		<div id="itemsList" class="d-flex flex-wrap" >
			
			<!--<div class='item'>
				<div class='itemImageContainer d-flex flex-wrap align-items-center  justify-content-center'>
					<img src='https://firebasestorage.googleapis.com/v0/b/feedoo-8c622.appspot.com/o/banane.jpg?alt=media&token=44d424b6-74dd-4f9f-bac7-d79c307410ce'>
				</div>

				<div class='itemTitle p-1'>
					banane
				</div>
				<div class='detail m-4 mt-2 mb-0'>
					<div class='d-flex justify-content-between'>
						<div class='itemUnity text-muted'>1 KG</div>
						<div class='itemPrice text-muted'>90 DA</div>
					</div>
					<div>
						<div class='itemDetails'>950g à 1050g</div>
					</div>
				</div>
				<div class='changeQuantity text-center mx-auto m-3' >
					<div class='addButton buttonClass'>Ajouter</div>
					<div class='quantityContainer   d-flex justify-content-center d-none'>
						<div class='quantityMinus buttonClass w-25'>-</div>
						<div class='quantity w-50'>1</div>
						<div class='quantityPlus buttonClass w-25'>+</div>
					</div>
				</div>
			</div>-->
		</div>

	</section>


	<div id="panierModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Panier</h5>
				</div>
				<div class="modal-body">

					<div id="spinnerContainerModal" class="d-flex justify-content-center m-5">
						<div id="spinner" class="spinner-border text-success" style="width: 3rem; height: 3rem;" role="status">
						</div>
					</div>

					<div id="errorContainerModal" class="d-flex justify-content-center mt-5  d-none">
						<img src="{% static 'error.png' %}">
					</div>
					<dir id="panierVide" class="text-muted m-5 text-center d-none" style="font-size: 1.5em">
						Votre panier est vide.
					</dir>

					<div id="panierItemsList">
						<!--<div class='panierItem d-flex mt-1 pb-1'>"+
							<div class='panierItemImageContainer d-flex flex-wrap align-items-center  justify-content-center'>
								<img src=''>
							</div>
							<div class='panierItemInfo'>
								<div class='panierItemTitle text-center'>Choux fleurdddd</div>
								<div class='mt-1 mb-0'>
									<div class=' d-flex justify-content-between text-muted'>
										<div class='panierItemDetailUnity'>1 KG</div>
										<div class='panierItemDetailPrice'>90 DA</div>
									</div>
									<div>
										<div class='panierItemDetail'>950g à 1050g</div>
									</div>
								</div>
							</div>
							<div class='panierItemQuantity'>

								<div class='panierItemChangeQuantity text-center mx-auto m-3' >
									<div class='panierItemQuantityContainer  mx-auto d-flex justify-content-center'>
										<div class='panierItemQuantityMinus buttonClass w-25'>-</div>
										<div class='panierItemQuantityValue w-50'>1</div>
										<div class='panierItemQuantityPlus buttonClass w-25'>+</div>
									</div>

								</div>
								<div class='panierItemChangeQuantityTotal text-center'>
									270 DA
								</div>

							</div>
						</div>-->

					</div>
				</div>
				<div class="modal-footer">
					<div class="w-100 text-muted">SOUS-TOTAL : <div id="sous_total" class="d-inline text-muted">0 DA</div></div>
					<div class="w-100 text-muted">LIVRAISON : <div id="livraison" class="d-inline text-muted">300 DA</div></div>
					<div class="w-100 text-center text-muted">TOTAL : <div id="total" class="d-inline text-muted">300 DA</div></div>
					<div class="d-flex w-100">
						<button id="hideModalButton" type="button" class="btn btn-primary w-50 m-1" data-dismiss="modal">Annuler</button>
						<button id="commanderButton" type="button" class="btn btn-primary w-50 m-1" data-dismiss="modal">Commander</button>
					</div>
					
				</div>
			</div>
		</div>
	</div>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>




<script language="javascript">var STATIC_URL = "{{ STATIC_URL|escapejs }}";</script>
<script type="text/javascript" src="{% static 'scriptCommande.js' %}"></script>


</html>