{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link href="{% static 'logo.png' %}" rel="icon">
	<link href="{% static 'style.css' %}" rel="stylesheet">
	<link href="{% static 'style_smallerThan_1100.css' %}" rel="stylesheet">
</head>
<body>
	<header>
		<div class="d-flex justify-content-between mx-auto ">
			<div class="d-flex">
				<img id="logo" src="{% static 'logoGreen.png' %}">
				<button id="notreConcept" type="button" class="btn m-1 align-self-center">Notre concept</button>
				<button id="nosAvantages" type="button" class="btn m-1 align-self-center">Nos avantages</button>
			</div>
			<div class="d-flex ">
				<!--<button type="button" class="commancer btn btn-info text-white m-1 align-self-center">Commancer</button>-->
				<button class="commancer align-self-center btn-info text-white m-1  ">Commancer</button>
			</div>
		</div>
		
	</header>

	<section>
		<div id="dataOverImageContainer" class="position-absolute" >
			<h1 class="text-center display-3"><strong>Le marché à votre porte</strong></h1>
			<h2 class="text-center mt-2">Service de livraison de fruits et légumes à <strong>Oran</strong> </h2>
			<div class="d-flex justify-content-center">
				<button class="commancer btn-info text-white m-4">Commancer</button>
			</div>
		</div>
		<div id="imageContainer">
			<img src="{% static 'paprika.jpg' %}">
		</div>
	</section>

	<section id="commentCamarcheContainer" class="mt-5">
		<h2 id="commentCamarche" class="text-center">Comment ça marche ?</h2>
		<div class="m-3 text-center mx-auto">
			<div class="test m-3" style="font-size: 1.4em;"><strong style="color: #016438;">1. </strong>Choisir vos légumes et fruits</div>
			<div class="m-3" style="font-size: 1.4em"><strong style="color: #016438;">2. </strong>Indiquer votre adresse et la date de livraison</div>
			<div class="m-3 " style="font-size: 1.4em"><strong style="color: #016438;">3. </strong>Et voila , c'est fini</div>
		</div>
	</section>
	<section id="lesAvantagesContainer" class="mt-5">
		<h2 id="lesAvantages" class="text-center">Les avantages de FEEDOO</h2>
		<div class="m-3 text-center mx-auto">
			<div class="m-3" style="font-size: 1.4em"><strong style="color: #016438;">1. </strong>Facile à utiliser</div>
			<div class="m-3" style="font-size: 1.4em"><strong style="color: #016438;">2. </strong>Gagner du temps</div>
			<div class="m-3" style="font-size: 1.4em"><strong style="color: #016438;">3. </strong>Paiement à la livraison</div>
		</div>
	</section>
	<footer class="mt-5">
		<div id="imageFooterContainer">
			<img src="{% static 'potatoes.jpg' %}">
		</div>
		<div class="mx-auto text-center mt-5">
			<h2 class="text-white"><strong>Suivez nous</strong></h2>
			<div class="d-flex justify-content-center">
				<div class="imageFooterSocialContainer m-2">
					<img id="imgFacebook" src="{% static 'facebook.png' %}">
				</div>
				<div class="imageFooterSocialContainer m-2">
					<img id="imgInstagram" src="{% static 'instagram.png' %}">
				</div>
			</div>
		</div>
		<div class=" border-bottom-0 mt-5 text-center text-white pt-3" style="font-size: 0.8em;border-top: 1px solid grey">
			Feedoo est un service de livraison de fruits et légumes à Oran. TEL : 0667734324
		</div>
	</footer>
</body>
<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{% static 'script.js' %}"></script>

</script>

</html>